dialog {
	border-radius: 0.4em;
	padding: 0.5em 0.7em;
	border: none;
	box-shadow: var(--card);
	border-radius: 0.4em;
	color: var(--txt-clr);
	background-color: var(--popup-bgc);
	text-align: center;

	&[open] {
		animation: bottom-top 400ms ease-out;
	}
}

h2 {
	color: red;
	margin-bottom: 0;

	& + div {
		& span {
			background-color: hsl(0, 0%, 80%);
			padding-inline: 0.2em;
			border-radius: 0.2em;
		}
	}
}

.msg-text {
	padding-block: 1em;
}

.action-block {
	& select {
		border: var(--border);
		padding-block: 0.4em;
		border-radius: 0.4em;
	}

	& button {
		background-color: lime;
		color: #ffff;
		font-weight: 500;
		border-radius: 7px;
		padding: 0.5em 0.8em;
		cursor: pointer;
		margin-left: 0.2em;
	}
}

@keyframes bottom-top {
	from {
		translate: 0 -100%;
	}

	to {
		translate: 0 0;
	}
}
